@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: rgb(66, 66, 66);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(92, 92, 92);
    color:white;
    text-align: center;
    border-top: 1px solid rgb(168, 168, 168);
}

menu a:hover{
    background-color: rgb(168, 168, 168);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

article h2{
    padding-bottom: 20px;
}

article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}