*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor001: #2B3240;
    --cor002: #7890BF;
}

body, hmtl{
    background-image: linear-gradient(to top, #2B3240, #7890BF);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 200px;
    height:400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

