@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 30, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    background-color: rgb(26, 47, 65);
    min-width: 300px;
    min-height: 550px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}

.imagem{
    background: black url(../imagens/fotoLogin.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.formulario{
    justify-self: center;
    text-align: center;
}

.formulario h1{
    text-align: center;
    margin-top: 20px;
}

.campo{
    display: flex;
    background-color: rgb(16, 30, 41);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: flex-start;
}

.campo input{
    flex: 1;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 5px;
}

input::placeholder{
    padding-left: 0px;
}

.campo i{
    color: white;
    padding-right: 10px;
    align-self: center;
    padding-left: 10px;
}

.botao{
    width: 100%;
    height: 40px;
    justify-self: center;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(16, 30, 41);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, scale 0.5s;
}

.botao:hover{
    background-color: rgb(41, 77, 105);
    transform: scale(1.03);
}

.formulario form a{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: white;
}

label{
    display: none;
}

form input{
    display: block;
}