@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    height: 180px;
    align-items: end;
    background-color: grey;
    color: white;
}

header > h1{
    font-size: 3em;
    padding-left: 5px;
}

header > p{
    font-size: 1.2em;
    padding-left: 15px;
}

header > nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    border: 2px solid rgb(187, 181, 181);
    margin-bottom: 10px;
}

header > nav > a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

header > nav > a:hover{
    background-color: rgb(99, 99, 99);   
}

body{
    background-color: rgb(223, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.container01{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    height: 400px;
    margin-top: 20px;
}

.imagem01{
    align-self: center;
    justify-self: center;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.37);
}

.imagem01 img{
    display: block;
}

.texto01{
    align-self: center;
    justify-self: center;
    width: 900px;
    background-color: white;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.37);
}

.texto01 h2{
    font-size: 2em;
    margin-bottom: 60px;
}

.texto01 p{
    text-indent: 20px;
    font-size: 1em;
}