@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    height: 200px;
    align-items: end;
    background-color: grey;
    color: white;
}

header > h1{
    font-size: 3em;
    text-align: center;
}

header > p{
    font-size: 1.2em;
    text-align: center;
}

header > nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    border: 2px solid rgb(187, 181, 181);
}

header > nav > a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

header > nav > a:not(:last-child){
    border-right: 2px solid rgb(187, 181, 181);
}

header > nav > a:hover{
    background-color: rgb(70, 70, 70);   
}

body{
    background-color: rgb(223, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.container01{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    height: 400px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.imagem01{
    align-self: center;
    justify-self: center;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.37);
}

.imagem01 img{
    display: block;
}

.texto01{
    align-self: center;
    justify-self: center;
    width: 900px;
    background-color: white;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
}

.texto01 h2{
    font-size: 2em;
    margin-bottom: 30px;
}

.texto01 p{
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.5em;
}

.container02{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}

.texto02{
    padding: 10px;
}

.texto02 > h2{
    margin-bottom: 25px;
    font-size: 2em;
}

.texto02 > p{
    line-height: 1.3em;
}

.imagem02{
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.37);

    align-self: center;
    justify-self: center;
}

.imagem02 > img{
    display: block;
}

.menuArtigo{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    gap: 10px;
}

.menuArtigo > a{
    color: white;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 20px;
    transition: background-color 0.2s ease-in-out;
}

.menuArtigo > a:hover{
    background-color: rgb(70, 70, 70);
    transform: scale(1.02);
}