@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    height: 100vh;
}

header, .normal{
    padding: 20px;
}

.flexContent{
    background-color: rgb(165, 164, 164);
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    color: white;
}

.textMedia{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.mediaText{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text{
    flex: 1 1 500px;
}

.media{
    flex: 1 0 450px;
}

.media > img{
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
}

.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    text-align: start;
    margin-bottom: 20px;
    line-height: 1.2em;
}