@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
    background-color: gray;
    color: white;
}

.imagem{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
}