*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(45, 57, 68);
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 20px;
}

main{
    background-color: white;
    width: 600px;
    height: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

main p {
    font-size: 1.5em;
    text-align: justify;
}