@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

:root{
    --cor001: #553D7A;
    --cor002: #3F3550;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Texturina", serif;
}

body, html{
    background-color: var(--cor002);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section{   
    width: 300px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}

.formulario input[type=submit]{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.formulario input[type=button]{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.formulario{
    text-align: center;
    padding: 5px;
}

.formulario p{
    font-size: 0.8em;
}

.imagem{
    background: var(--cor002) url(../imagens/tela-login.jpg);
    background-size: cover;
    background-position: center center;
    height: 45%;
}

