@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), url(../imagens/fundoSite.jpg);
    background-size: cover;
    background-position: center center;
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.212);
}

.links{
    display: flex;
    justify-content: space-evenly;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.button01{
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 20px;
}

.button01 button{
    background-color: rgb(1, 97, 1);
    color: white;
    width: 150px;
    height: 35px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, scale 0.3s;
}

.button01 button:hover{
    background-color: rgb(0, 143, 0);
    color: white;
    transform: scale(1.05);
}

.texto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 300px;
    height: 200px;
    color: white;
}

.texto h2{
    font-size: 3em;
    padding-left: 10px;
}

.texto p{
    padding: 5px;
    padding-right: 10px;
    text-align: end;
    border-radius: 10px;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.63);
}

.pesquisa{
    width: 400px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.pesquisa div{
    display: flex;
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.pesquisa div input{
    height: 100%;
    width: 75%;
    border: none;
    padding: 10px;
    font-size: 1.3em;
}

.pesquisa div input:focus{
    outline: none;
}

.pesquisa div button{
    background-color: rgb(1, 97, 1);
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
}