@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(138, 138, 138);
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.541);
}