@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


*{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.548);
}

header h1{
    font-size: 9vw;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header p{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

#semFundo{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 12vw;
    background-color: white;
    height:fit-content;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603);
}

#semFundo p{
    text-align: left;
    padding: 10px;
    font-size: 3.5vw;
    line-height: 7vw;
    font-family: "Sriracha", cursive;
}

#comFundo1{
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 12vw;
}

#comFundo1 p{
    background-color: rgba(0, 0, 0, 0.61);
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    font-size: 3.5vw;
    line-height: 7vw;
    font-family: "Sriracha", cursive;
    color: white;
}

#comFundo2{
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 12vw;
}

#comFundo2 p{
    background-color: rgba(0, 0, 0, 0.61);
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    font-size: 3.5vw;
    line-height: 7vw;
    font-family: "Sriracha", cursive;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 5px;
}