@charset "UTF-8";
/*Configurações gerais*/

*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    background-color: #233EFF;
}

h1{
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}