.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1{
    grid-area: 1 / 1 / 2 / -1;
    background-color: teal;
}

.caixa2{
    grid-area: 2 / 1 / -1 / 3;
    background-color: burlywood;
}

.caixa3{
    grid-area: 2 / 3 / -1 / -1;
    background-color: rgb(207, 255, 135);
}