@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

:root{
    --cor001: #553D7A;
    --cor002: #3F3550;
    --cor003: #2E2B33;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Texturina", serif;
}

body, html{
    background-color: var(--cor003);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

section{   
    width: 300px;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

section

.campo{
    background-color: #3F3550;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

.campo i{
    font-size: 1.2em;
    color: white;
}


.campo input{
    background-color: #d9cee9;
    width: 80%;
    height: 36px;
    transform: translateX(14px);
    border-radius: 5px;
}

.campo input:focus-within{
    background-color: white;
    text-indent: 5px;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.726);
    padding-left: 10px;
}

.botao{
    background-color: #3F3550;
    color: white;
    border: none;
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao:hover{
    background-color: #4c356d;
    transform: scale(1.01);
}

.botao:active{
    transform: scale(0.95);
}

#esqueci{
    color: var(--cor002);
}

#formulario{
    text-align: center;
    padding: 5px;
}

#formulario p{
    font-size: 0.8em;
}

#formulario label{
    display: none;
}

#imagem{
    background: var(--cor002) url(../imagens/tela-login.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vh;
}

